
<header class="header-area">
    {% include navbar.html %}

    <div id="home" class="header-content-area bg_cover d-flex align-items-center"
         style="background-color: #000000;">
        <!--background-image: url(/assets/images/header-bg.png)-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <img src="assets/images/bg3-01.png" class="img-alt">
                </div>
                <div class="col-md-5">
                    <img src="assets/images/bg2_2.png"  class="img-alt1">

                </div>
            </div>
        </div>
    </div>
</header>